<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Rio.CleanupSolutionConfiguration.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Rio.CleanupSolutionConfiguration.Properties.Settings>
            <setting name="ShouldSetNETFrameworkVersion" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShouldPromptNETFrameworkVersionOnCleanup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NETFrameworkVersion" serializeAs="String">
                <value />
            </setting>
            <setting name="OutputDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="ShouldSetOutputDirectory" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CompanyName" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShouldSetCompanyName" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Copyright" serializeAs="String">
                <value />
            </setting>
            <setting name="ShouldSetCopyright" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Trademark" serializeAs="String">
                <value />
            </setting>
            <setting name="ShouldSetTrademark" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShouldAdjustAssemblyAndFileVersion" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NeutralLanguage" serializeAs="String">
                <value />
            </setting>
            <setting name="ShouldSetNeutralLanguage" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShouldAdjustSolutionAndProjectNameToFolderName"
                serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShouldPromptProductNameOnCleanup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShouldBuildSetupProjectsInReleaseMode" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShouldNotBuildSetupProjectsInDebugMode" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShouldNotBuildTestProjectsInReleaseMode" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShouldBuildTestProjectsInDebugMode" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WasInitialized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShouldSetProductName" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShouldSaveBackupsBeforeCleanup" serializeAs="String">
                <value>True</value>
            </setting>
        </Rio.CleanupSolutionConfiguration.Properties.Settings>
    </userSettings>
</configuration>